PORT=
MONGODB_URI=
IPFS_API=
GATEWAY_BASE=
CORS_ORIGIN=
MAX_FILE_MB=


PORT=4000
MONGODB_URI_1=mongodb+srv://social_media:12345@cluster0.63hr9dk.mongodb.net/?appName=Cluster0
MONGODB_URI=mongodb://root:271204@localhost:27017/ipfs_post?authSource=admin

# IPFS Desktop (Kubo) HTTP API
IPFS_API=http://127.0.0.1:5001/api/v0
# Gateway để render media (có thể dùng local gateway nhanh hơn)
# GATEWAY_BASE=http://127.0.0.1:8080/ipfs
GATEWAY_BASE=https://ipfs.io/ipfs
CORS_ORIGIN=http://localhost:5173
MAX_FILE_MB=100